table, th, td {
  border: 1px solid black;
  border-radius: 10px;
  background-color: lightgrey; 
  text-align:center;
  padding: 15px;
  
}

.main-table{
  border-spacing: 20px;
  border-collapse: separate;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
h3{
  text-align: center;
}

.btn:hover {
  background: #eee;
}

.buttons{
  padding-top:20px;
  text-align: center;
}

.form-inline{
text-align: center;
padding-top: 20px;
}

.td-info{
background-color: blue;
}

td:hover{
  background-color: #D9EDFF;
}
